@import url('https://fonts.googleapis.com/css?family=Imprima|Monda|PT+Sans');

body {
    margin: 0;
}

.google-fonts {font-family: 'Avenir', 'PT Sans', Helvetica, Arial, sans-serif};
.yellow-lighten-4 {background-color: #fff9c4;}
.yellow-lighten-2 {background-color: #fff176;}
.text-white {color: white;}
.radius11all {border-radius: 11px;}
.radius0 {border-radius: 0px;}
.radius11top{border-radius: 11px 11px 0px 0px;}
.pointer{cursor: pointer;}

.gradient--color {
background-image:-moz-linear-gradient(30deg, rgb(0, 255, 200), rgb(0, 140, 255));
background-image:-webkit-linear-gradient(30deg, rgb(0, 255, 200), rgb(0, 140, 255));
background-image:-o-linear-gradient(30deg, rgb(0, 255, 200), rgb(0, 140, 255));
background-image:linear-gradient(60deg, rgb(0, 255, 200), rgb(0, 140, 255));
}

.box-layout {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 3px;
    text-align: center;
    width: 25rem;
}

.box-layout__title {
    line-height: 1;
    color: rgb(200, 244, 255);
    font-weight: 300;
    margin-bottom: 0;
}
